# Pandas Data Structures

In [1]:
import numpy as np
import pandas as pd

## Series

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

The Series wraps both a sequence of values and a sequence of indices, which we can access with the values and index attributes.

In [3]:
data[1:3]  # Series is just a generalised version of numpy array

1    0.50
2    0.75
dtype: float64

In [6]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],  # we can define our own indexes, they dont need to be continious
                 index=[2, 5, 'b', 7])    #follows constructor Series(data, index=index)
data

2    0.25
5    0.50
b    0.75
7    1.00
dtype: float64

In [7]:
data['b']

0.75

In [9]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

## Dataframes

In [10]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)

area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)

states = pd.DataFrame({'population':population,
                       'area':area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [11]:
states.columns

Index(['population', 'area'], dtype='object')

In [12]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

Different ways of generating DataFrames

In [14]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [15]:
data = [{'a': i, 'b': 2 * i}
        for i in range(4)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4
3  3  6

In [17]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['c1', 'c2'],
             index=['a', 'b', 'c'])

         c1        c2
a  0.282220  0.008911
b  0.796542  0.422985
c  0.821214  0.935137

In [19]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])  # numpy structured array
pd.DataFrame(A, index=['ab', 'cd', 'ef'])

    A    B
ab  0  0.0
cd  0  0.0
ef  0  0.0