# Data Indexing

Slicing and indexing conventions can be a source of confusion in Pandas Objects. For example, if your Series has an explicit integer index, an indexing operation such as data[1] will use the explicit indices, while a slicing operation like data[1:3] will use the implicit Python-style index.<br>
Because of this potential confusion in the case of integer indexes, Pandas provides some special indexer attributes that explicitly expose certain indexing schemes.

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [5]:
data[1]

'a'

In [6]:
data[1:3] # confusion

3    b
5    c
dtype: object

The **loc** attribute allows indexing and slicing that always references the explicit index

In [7]:
print (data.loc[1])
print (data.loc[1:3])

a
1    a
3    b
dtype: object

The **iloc** attribute allows indexing and slicing that always references the implicit Python-style index

In [8]:
print (data.iloc[1])
print (data.iloc[1:3])

b
3    b
5    c
dtype: object

In [9]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [10]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [11]:
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [12]:
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [14]:
data.loc[data.density > 100, ['density', 'pop']]

             density       pop
New York  139.076746  19651127
Florida   114.806121  19552860